<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Quem somos?</h2>
                <hr class="light">
                <p class="text-faded">A Kamaroff Soluções Tecnológicas, fundada em 2018 por Maykl Kamaroff e Aline Kamaroff, tem como missão trazer a tecnologia para seu ambiente corporativo e familiar.</p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
